
*.pyc
uselibs/.ipynb_checkpoints/test_import_add-checkpoint.ipynb
ML_AndrewNg/.ipynb_checkpoints/Untitled-checkpoint.ipynb
ML_AndrewNg/.ipynb_checkpoints/ch4-checkpoint.ipynb
ML_AndrewNg/.ipynb_checkpoints/ch2-checkpoint.ipynb
IntelAIAcademy/ML101/.ipynb_checkpoints/other-checkpoint.ipynb
IntelAIAcademy/ML101/.ipynb_checkpoints/Week0_Jupyter_Pandas_Plot-checkpoint.ipynb
IntelAIAcademy/ML101/.ipynb_checkpoints/Week1_Introduction_to_Machine_Learning_and_Toolkit_HW-checkpoint.ipynb
IntelAIAcademy/ML101/.ipynb_checkpoints/Week2_Supervised_Learning_and_K_Nearest_Neighbors_HW-checkpoint.ipynb
