
*.pyc
uselibs/.ipynb_checkpoints/test_import_add-checkpoint.ipynb
ML_AndrewNg/.ipynb_checkpoints/Untitled-checkpoint.ipynb
ML_AndrewNg/.ipynb_checkpoints/ch4-checkpoint.ipynb
ML_AndrewNg/.ipynb_checkpoints/ch2-checkpoint.ipynb
